@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

.book {
  padding: 0!important;
  background-color: #383531;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
}
.book_detail_link {
  width: 95%;
  float: left;
  color: white;
  font-family: 'Montserrat';
  font-size: 120%;
  padding: 10px 0px 10px 30px;
}
.book_detail_link:hover {
  color: white;
  text-decoration: none;
  background-color: #5e5853;
}
.book__cross {
  text-align: center;
  width: 5%;
  float: right;
  color: red;
  font-size: 30px!important;
  overflow: auto;
}
.book__cross:hover {
  color: red;
  text-decoration: none;
  background-color: #5e5853;
}
.stars-inline {
  position: relative;
  top: 4px;
  left: 20px;
  display: inline;
}
.star {
  font-size: 300%!important;
  text-shadow: 0px 0px 3px lightgrey;
}
.star-small {
  font-size: 100%!important;
}
.details_wrapper {
  margin: 60px 0px 60px 0px;
}
.modal-trigger {
  margin-top: 15px;
}
#booktitle {
  font-family: 'Roboto';
  display: inline;
}
